input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: var(--bg-secondary);
  outline-color: var(--secondary-color);
  caret-color: var(--secondary-color);
  font-size: 20px;
}
