@import "./reset";

@import "./variables/colors";
@import "./variables/themes";

@import "./components/header";
@import "./components/button";
@import "./components/spinner";
@import "./components/themeSwitcher";
@import "./components/group";
@import "./components/input";
@import "./components/card";
@import "./components/reactSelect";

@import "./views/users";

@import url("https://rsms.me/inter/inter.css");

html,
body {
  height: auto;
  scroll-behavior: smooth;
}

html,
body,
#root {
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;

  background-repeat: no-repeat;
  background-attachment: fixed;
}

select,
textarea,
input:focus {
  outline: none;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  background-color: var(--bg-primary);
  color: var(--primary-color);

  .outlet {
    flex: 1 0;
  }
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}
