$white: #ffffff; //+

$brightGray: #ededf4; //+
$ghostWhite: #f9f9f9;
$lightSilver: #dbd8d4;
$cultured: #f6f6f9;
$lightGrayishBlue: #d4d7db;
$metallicSilver: #a8aaae;

$cadetBlue: #a7b4cc; //+
$dimGray: #676a71; //+
$auroMetalSaurus: #6e7686;
$snow: #fcfcfc;

$red: #f44336; //+
$dullRed: #ff8988;
$yellow: #ffba2f;
$green: #22b07d;
$honeyDew: #eafbf5;

$blueGreen: #13a3b9;
$bondiBlue: #009cb4;
$darkBlue: #005f78; //+

$darkGrayishBlue: #272a33;
$black: #000000;
$japaneseIndigo: #503e2c;
$darkLiver: #4f4f4d;
