.mainLayout.dark {
  --bg-primary: #111827;
  --bg-secondary: #525a66;
  --primary-color: #f9fafb;
  --secondary-color: #d7d9dd;
}

.mainLayout.light {
  --bg-primary: #f9fafb;
  --bg-secondary: #d7d9dd;
  --primary-color: #111827;
  --secondary-color: #525a66;
}
