.mainLayout.dark {
  --bg-primary: #111827;
  --bg-secondary: #374151;
  --primary-color: #f9fafb;
  --secondary-color: #e5e7eb;
}

.mainLayout.light {
  --bg-primary: #f9fafb;
  --bg-secondary: #e5e7eb;
  --primary-color: #111827;
  --secondary-color: #374151;
}
